<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Cyborg IARC-Contact</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,900;1,400;1,700&display=swap" rel="stylesheet">
  <link href="../assets/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="../assets/css/stylec.css">
  <link rel="stylesheet" type="text/css" href="../assets/css/style.css">
  <link rel="icon" href="../assets/images/2.png" type="image/gif" sizes="12x12" class="img-responsive">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body onload="myFunction()">
  <div id="loading"></div>
  <nav class="navbar navbar-inverse" style="background-color: #0f0f0f;">

    <div class="container-fluid">
      <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar" >
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>                        
          </button>
          <a class="navbar-brand" href="../index.html" style="color: #f7df75; margin-bottom: 10px; "><img src="../assets/images/copter_grey.png" style="height: 30px; width: 50px; display: inline; margin-right: 10px; margin-bottom: 20px;" ></img><h2 style="display: inline;">IARC</h2></a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
         <ul class="nav navbar-nav navbar-right">
            <li><a href="../index.html"><p class="a">Home</p></a></li>
            <li><a href="team.html"><p class="a">Team</p></a></li>
            <li><a href="contact.html"><p class="a">Contact</p></a></li>
            <!-- <li><a href="#"><p class="a"><span class="glyphicon glyphicon-user"></span> Sign Up</p></a></li>
            <li><a href="#"><p class="a"><span class="glyphicon glyphicon-log-in"></span> Login</p></a></li> -->
        </ul>
      </div>
    </div>
  </nav>

    <div class="app dark-theme" style="background-image: url(../assets/images/circuit.png); background-size: cover; min-height: 98%; background-repeat: no-repeat; background-attachment: fixed;">

      <div class="inner-width">

        <h1 id="title"> CONTACT US </h1>
        <div class="border"></div>
        <div>
          <div class="services-container row">
            <div class="service-box col-lg-4 col-sm-12">
              <div class="service-icon">
                <i class="fa fa-user fa-rotate-45 fa-2x" style="margin-left: 4px; margin-right: auto; margin-top: auto;margin-bottom: auto;"> </i>
              </div>
              <h2 style="font-size: 30px;">
                <div class="service-title">
                  Faculty Advisor
                </div>
              </h2>
              <div class="service-desc">
                <h4>
                  <center>
                    Prof. Ayas K. Swain
                  </center>
                </h4>
                Assistant Professor <br>
                ph. no: 0661-2462458
                <br>
              </div>
            </div>

            <div class="service-box col-lg-4 col-sm-12">
              <div class="service-icon">
                <i class="fa fa-gear fa-rotate-45 fa-2x" style="margin-left: 2px; margin-right: auto; margin-top: auto;margin-bottom: auto;"> </i>
              </div>
              <h2 style="font-size: 30px;">
                <div class="service-title">
                  CYBORG
                </div>
              </h2>
              <div class="service-desc">
                <h4>
                  <center>
                    club under technical soceity
                  </center>
                </h4>
                SAC NIT Rourkela <br>EC 440, EC building, NIT Rourkela
                <br>
              </div>
            </div>

            <div class="service-box col-lg-4 col-sm-12">
              <div class="service-icon">
                <i class="fa fa-user fa-rotate-45 fa-2x" style="margin-left: 4px; margin-right: auto; margin-top: auto;margin-bottom: auto;"> </i>
              </div>
              <h2 style="font-size: 30px;">
                <div class="service-title">
                  President
                </div>
              </h2>
              <div class="service-desc">
                <h4>
                  <center>
                    BISWAJEET SAHOO
                  </center>
                </h4>
                ph. no: +91 9778756623 <br>117ec0323@nitrkl.ac.in
                <br>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br><br><br><br><br>
      <div class="contact-form" style="margin: 0px; width: 50%; margin-left: auto;margin-right: auto;">
          <form action="#" method="post" role="form"  style="margin: 0px; width: 100%;">
              <div class="col-lg-6" style="margin-bottom: 20px;margin-left: auto;margin-right: auto;">
                <input class="form-control" type="text" placeholder="Your Name" style="text-align: center;">
              </div>
              <div class="col-lg-6" style="margin-bottom: 20px; margin-left: auto;margin-right: auto;">
                <input class="form-control" type="email" placeholder="Your Email" style="text-align: center;">
              </div>
              <div class="col-lg-12" style="margin-bottom: 20px; margin-left: auto;margin-right: auto;">
                <input class="form-control" type="text" placeholder="Your Subject" style="margin-bottom: 20px; text-align: center;">
                <textarea class="form-control" placeholder="Your Message" rows="6" style="margin-bottom: 20px; text-align: center;"></textarea>
              </div>
              <div class="col-lg-12 col-sm-12" >
                <input class="form-control" type="submit" value="SEND" style="background-color: #f7df75; width: 30%; text-align: center; margin-left: auto;margin-right: auto; border-radius: 20px; padding-left: 0px;">
              </div>
          </form>
      </div>
      <br><br>
      <br><br><br><br><br><br><br><br>

<section style="background-color: #0f0f0f; color: #6cacf7;">
  <div class="row">
    <div class="col-lg-4">
      <h2>SITE LINKS</h2>
      <a href="../index.html" class="sl" style="text-decoration: none;">Home</a>
				<a href="team.html" class="sl" style="text-decoration: none;">Team</a>
				<a href="contact.html" class="sl" style="text-decoration: none;">Contacts</a>
    </div>
    <div class="col-lg-4">
      <h2>ABOUT US</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat.

      </p>
    </div>
    <div class="col-lg-4" style="text-align: center;">
      <h2>SOCIAL</h2>
      <a href="#" class="fa fa-facebook" style="text-decoration: none; "></a>
      <a href="#" class="fa fa-twitter" style="text-decoration: none;"></a>
      <a href="#" class="fa fa-google" style="text-decoration: none;"></a>
      <a href="#" class="fa fa-linkedin" style="text-decoration: none;"></a>
    </div>
  </div>	
</section>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<script src="../assets/js/bootstrap.min.js"></script>
<script>
    var preloader = document.getElementById("loading");

    function myFunction(){
      preloader.style.display = 'none';
    };
  </script>
</body>
</html>
