<!DOCTYPE html>
<html>
<head>
	<title>IARC</title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,900;1,400;1,700&display=swap" rel="stylesheet">	
	<link rel="stylesheet" type="text/css" href="../assets/css/team.css">
	<style type="text/css">

		/*{
			padding: 0;
			margin:0;
		}*/
		
		
	</style>
</head>
<body onload="myFunction()">
	<div id="loading"></div>
	<nav class="navbar navbar-inverse">
	    <div class="container-fluid">
		    <div class="navbar-header">
		        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar" >
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>                        
		      	</button>
		      	<a class="navbar-brand" href="../index.html" style="color: #f7df75; margin-bottom: 10px; "><img src="../assets/images/copter_grey.png" style="height: 30px; width: 50px; display: inline; margin-right: 10px; margin-bottom: 20px;" ></img><h2 style="display: inline;">IARC</h2></a>
		    </div>
		    <div class="collapse navbar-collapse" id="myNavbar">
		     	<ul class="nav navbar-nav navbar-right">
			        <li><a href="../index.html"><p class="a">Home</p></a></li>
			        <li><a href="team.html"><p class="a">Team</p></a></li>
			        <li><a href="contact.html"><p class="a">Contact</p></a></li>
			        <!-- <li><a href="#"><p class="a"><span class="glyphicon glyphicon-user"></span> Sign Up</p></a></li>
			        <li><a href="#"><p class="a"><span class="glyphicon glyphicon-log-in"></span> Login</p></a></li> -->
			    </ul>
		    </div>
	    </div>
	</nav>
	<div class="img">
		<div class="text1">
			<span class="border">
				The Team
			</span>
		</div>
	</div>
	<section>
		<div class="row">
			<div class="col-lg-6" style="margin-bottom: 200px;">
				<img class="hc" src="../assets/images/copter_grey - Copy.png"></img>
				<br>
				<span style="font-size:50px; color:#f7df75; ">IARC</span>
			</div>
			<div class="col-lg-6">
				<h2 style="font-size: 60px;">Groups</h2>
				<p class="main" style="font-size: 40px; line-height: 150%;">
					We currently consist of X students at Cyborg working together to solve IARC´s mission 9 in 2021! Our team consists of seven groups: The board, AI, Control, Hardware, Marketing, Perception and ADR.
				</p>
			</div>
		</div>
		<div class="row">
					<h2 style="font-size: 60px;">BOARD</h2>
					<p>The board is responsible for the whole team. They make sure organization is moving forward and plan the future of Cyborg.</p>
					<div class="col-lg-2" style="border: 5px solid transparent;  padding-left: 0px; padding-right: 0px; overflow: hidden;">
						<h2>Name</h2>
						<img src="../assets/images/user.png" style="position: relative; width: 100%;">
						<p class="view" style="position: absolute; top: 63px; width: 100%; height: 100%; margin-left: auto; margin-right: auto; opacity: 1; z-index: 10;color: transparent;">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						</p>
					</div>
					<div class="col-lg-2" style="border: 5px solid transparent;  padding-left: 0px; padding-right: 0px; overflow: hidden;">
						<h2>Name</h2>
						<img src="../assets/images/user.png" style="position: relative; width: 100%;">
						<p class="view" style="position: absolute; top: 63px; width: 100%; height: 100%; margin-left: auto; margin-right: auto; opacity: 1; z-index: 10;color: transparent;">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						</p>
					</div>
					<div class="col-lg-2" style="border: 5px solid transparent;  padding-left: 0px; padding-right: 0px; overflow: hidden;">
						<h2>Name</h2>
						<img src="../assets/images/user.png" style="position: relative; width: 100%;">
						<p class="view" style="position: absolute; top: 63px; width: 100%; height: 100%; margin-left: auto; margin-right: auto; opacity: 1; z-index: 10;color: transparent;">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						</p>
					</div>
					<div class="col-lg-2" style="border: 5px solid transparent;  padding-left: 0px; padding-right: 0px; overflow: hidden;">
						<h2>Name</h2>
						<img src="../assets/images/user.png" style="position: relative; width: 100%;">
						<p class="view" style="position: absolute; top: 63px; width: 100%; height: 100%; margin-left: auto; margin-right: auto; opacity: 1; z-index: 10;color: transparent;">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						</p>
					</div>
					<div class="col-lg-2" style="border: 5px solid transparent;  padding-left: 0px; padding-right: 0px; overflow: hidden;">
						<h2>Name</h2>
						<img src="../assets/images/user.png" style="position: relative; width: 100%;">
						<p class="view" style="position: absolute; top: 63px; width: 100%; height: 100%; margin-left: auto; margin-right: auto; opacity: 1; z-index: 10;color: transparent;">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						</p>
					</div>
					<div class="col-lg-2" style="border: 5px solid transparent;  padding-left: 0px; padding-right: 0px; overflow: hidden;">
						<h2>Name</h2>
						<img src="../assets/images/user.png" style="position: relative; width: 100%;">
						<p class="view" style="position: absolute; top: 63px; width: 100%; height: 100%; margin-left: auto; margin-right: auto; opacity: 1; z-index: 10;color: transparent;">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						</p>
					</div>
				
		</div>
	</section>	
	<div class="img">
		<div class="text1">
			<span class="border">
				Group Name
			</span>
		</div>
	</div>
	<section>
		<div class="row">
					
					<p>The board is responsible for the whole team. They make sure organization is moving forward and plan the future of Cyborg.</p>
					<div class="col-lg-2" style="border: 5px solid transparent;  padding-left: 0px; padding-right: 0px; overflow: hidden;">
						<h2>Name</h2>
						<img src="../assets/images/user.png" style="position: relative; width: 100%;">
						<p class="view" style="position: absolute; top: 63px; width: 100%; height: 100%; margin-left: auto; margin-right: auto; opacity: 1; z-index: 10;color: transparent;">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						</p>
					</div>
					<div class="col-lg-2" style="border: 5px solid transparent;  padding-left: 0px; padding-right: 0px; overflow: hidden;">
						<h2>Name</h2>
						<img src="../assets/images/user.png" style="position: relative; width: 100%;">
						<p class="view" style="position: absolute; top: 63px; width: 100%; height: 100%; margin-left: auto; margin-right: auto; opacity: 1; z-index: 10;color: transparent;">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						</p>
					</div>
					<div class="col-lg-2" style="border: 5px solid transparent;  padding-left: 0px; padding-right: 0px; overflow: hidden;">
						<h2>Name</h2>
						<img src="../assets/images/user.png" style="position: relative; width: 100%;">
						<p class="view" style="position: absolute; top: 63px; width: 100%; height: 100%; margin-left: auto; margin-right: auto; opacity: 1; z-index: 10;color: transparent;">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						</p>
					</div>
					<div class="col-lg-2" style="border: 5px solid transparent;  padding-left: 0px; padding-right: 0px; overflow: hidden;">
						<h2>Name</h2>
						<img src="../assets/images/user.png" style="position: relative; width: 100%;">
						<p class="view" style="position: absolute; top: 63px; width: 100%; height: 100%; margin-left: auto; margin-right: auto; opacity: 1; z-index: 10;color: transparent;">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						</p>
					</div>
					<div class="col-lg-2" style="border: 5px solid transparent;  padding-left: 0px; padding-right: 0px; overflow: hidden;">
						<h2>Name</h2>
						<img src="../assets/images/user.png" style="position: relative; width: 100%;">
						<p class="view" style="position: absolute; top: 63px; width: 100%; height: 100%; margin-left: auto; margin-right: auto; opacity: 1; z-index: 10;color: transparent;">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						</p>
					</div>
					<div class="col-lg-2" style="border: 5px solid transparent;  padding-left: 0px; padding-right: 0px; overflow: hidden;">
						<h2>Name</h2>
						<img src="../assets/images/user.png" style="position: relative; width: 100%;">
						<p class="view" style="position: absolute; top: 63px; width: 100%; height: 100%; margin-left: auto; margin-right: auto; opacity: 1; z-index: 10;color: transparent;">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						</p>
					</div>
				
		</div>
	</section>
	<div class="img">
		<div class="text1">
			<span class="border">
				Group Name
			</span>
		</div>
	</div>
	<section>
		<div class="row">
					<p>The board is responsible for the whole team. They make sure organization is moving forward and plan the future of Cyborg.</p>
					<div class="col-lg-2" style="border: 5px solid transparent;  padding-left: 0px; padding-right: 0px; overflow: hidden;">
						<h2>Name</h2>
						<img src="../assets/images/user.png" style="position: relative; width: 100%;">
						<p class="view" style="position: absolute; top: 63px; width: 100%; height: 100%; margin-left: auto; margin-right: auto; opacity: 1; z-index: 10;color: transparent;">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						</p>
					</div>
					<div class="col-lg-2" style="border: 5px solid transparent;  padding-left: 0px; padding-right: 0px; overflow: hidden;">
						<h2>Name</h2>
						<img src="../assets/images/user.png" style="position: relative; width: 100%;">
						<p class="view" style="position: absolute; top: 63px; width: 100%; height: 100%; margin-left: auto; margin-right: auto; opacity: 1; z-index: 10;color: transparent;">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						</p>
					</div>
					<div class="col-lg-2" style="border: 5px solid transparent;  padding-left: 0px; padding-right: 0px; overflow: hidden;">
						<h2>Name</h2>
						<img src="../assets/images/user.png" style="position: relative; width: 100%;">
						<p class="view" style="position: absolute; top: 63px; width: 100%; height: 100%; margin-left: auto; margin-right: auto; opacity: 1; z-index: 10;color: transparent;">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						</p>
					</div>
					<div class="col-lg-2" style="border: 5px solid transparent;  padding-left: 0px; padding-right: 0px; overflow: hidden;">
						<h2>Name</h2>
						<img src="../assets/images/user.png" style="position: relative; width: 100%;">
						<p class="view" style="position: absolute; top: 63px; width: 100%; height: 100%; margin-left: auto; margin-right: auto; opacity: 1; z-index: 10;color: transparent;">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						</p>
					</div>
					<div class="col-lg-2" style="border: 5px solid transparent;  padding-left: 0px; padding-right: 0px; overflow: hidden;">
						<h2>Name</h2>
						<img src="../assets/images/user.png" style="position: relative; width: 100%;">
						<p class="view" style="position: absolute; top: 63px; width: 100%; height: 100%; margin-left: auto; margin-right: auto; opacity: 1; z-index: 10;color: transparent;">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						</p>
					</div>
					<div class="col-lg-2" style="border: 5px solid transparent;  padding-left: 0px; padding-right: 0px; overflow: hidden;">
						<h2>Name</h2>
						<img src="../assets/images/user.png" style="position: relative; width: 100%;">
						<p class="view" style="position: absolute; top: 63px; width: 100%; height: 100%; margin-left: auto; margin-right: auto; opacity: 1; z-index: 10;color: transparent;">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						</p>
					</div>
				
		</div>
	</section>	
	<section style="background-color: #0f0f0f;">
		<div class="row">
			<div class="col-lg-4">
				<h2>SITE LINKS</h2>
				<a href="../index.html" class="sl" style="text-decoration: none;">Home</a>
				<a href="team.html" class="sl" style="text-decoration: none;">Team</a>
				<a href="contact.html" class="sl" style="text-decoration: none;">Contacts</a>
			</div>
			<div class="col-lg-4">
				<h2>ABOUT US</h2>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat.

				</p>
			</div>
			<div class="col-lg-4" style="text-align: center;">
				<h2>SOCIAL</h2>
				<a href="#" class="fa fa-facebook" style="text-decoration: none; "></a>
				<a href="#" class="fa fa-twitter" style="text-decoration: none;"></a>
				<a href="#" class="fa fa-google" style="text-decoration: none;"></a>
				<a href="#" class="fa fa-linkedin" style="text-decoration: none;"></a>
			</div>
		</div>	
	</section>
	<script>
		var preloader = document.getElementById("loading");

		function myFunction(){
			preloader.style.display = 'none';
		};
	</script>
</body>
</html>