body,html{
			height: 100%;
			margin: 0;
			font-size: 20px;
			font-family: 'Open Sans', serif;
			line-height: 1.8em;
			color: #6cacf7;
		}
		.img{
			background-image: url('../images/team1.png');
			background-size: cover;
			min-height: 98%;
			background-repeat: no-repeat;
			background-attachment: fixed;
			position: relative;
			box-shadow: inset 0px -10px 10px #282828,inset 0px 10px 10px #282828;
		}
		section{
		    text-align:center;
		    padding:50px 80px;
		    background-color: #282828;
		}

		.text1{ 
		  	position:absolute;
		   	top:50%;
		   	width:100%;
		   	text-align:center;
		   	color:#c1986a;
		  	font-size:27px;
		  	letter-spacing:8px;
		  	text-transform:uppercase;

		}

		.text1 .border{
		  	color:#f7df75;
		  	padding:20px;
		  	font-weight: bold;
		  	background-color: black;
		  	border-radius: 50px;
		  	opacity: 0.8; 
		}

		h2{
			color: #f7df75;
			font-family: 'Titillium Web';	
		}

		.navbar{
			padding: 0px; 
			margin: 0px; 
			border-radius: 0px; 
			position: fixed; 
			width:100%; 
			z-index: 100; 
			background-color: #0f0f0f;
		}
		.hc{
			height: 180px;
			width: 300px; 
			display: block; 
			margin:auto; 
			margin-top: 20%;	
		}
		
		
		.social{
			text-decoration: none;
			display: block;
			color: white;
		}
		.sl{
			text-decoration: none;
			display: block;
			color: #6cacf7;
		}

		/*.fa {
		  	padding: 10px;
		  	font-size: 30px;
		  	width: 100px;
		  	height: 50px;
		  	margin: 5px 20px;
		  	border-radius: 50%;
		  	display: block;
		  	margin: auto;
		  	margin-top: 20px;
		}

		.fa:hover {
		    opacity: 0.7;
		    color: white;
		}

		.fa-facebook {
		  	background: #3B5998;
		  	color: white;
		}

		.fa-twitter {
		  	background: #55ACEE;
		  	color: white;
		}

		.fa-google {
		  	background: #dd4b39;
		  	color: white;
		}

		.fa-linkedin {
		  	background: #007bb5;
		  	color: white;
		}*/

		.a:hover{
			color: #6cacf7 ;
			font-size: 25px;
		}
		/*style="color: #c1986a;"*/
		.a{
			color: #f7df75;
		}

		.fa{
			padding: 25px;
		}
		@media(max-width: 568px){
			.hc{
				width: 150px;
				height: 90px;
			}
			body{
				font-size: 30px;
			}
			section{
				padding: 10px 16px;
			}
			.fa {
			  	padding: 10px;
			  	font-size: 20px;
			  	width: 70px;
			  	height: 40px;
			  	margin: 5px 20px;
			  	border-radius: 50%;
			  	display: block;
			  	margin: auto;
			  	margin-top: 20px;
			}
			.img{
				right:0px;	
				background-image: url('../images/team.png');
				width: 100%;
			}
		}
		.view:hover {
			background-color:#282828;
			height: 100%;
			top: 10%;
			transform: rotateX(360deg);
			transition: 0.5s;
			color: #6cacf7 !important;
		}

		.col-lg-3 img{
			height: 400px;
		}

		.navbar-inverse .navbar-toggle .icon-bar {
		    background-color: #f7df75;
		}

		.navbar-toggle {
   			margin-top: 15px;
   		}	